#
.vscode
.DS_Store
bin
obj
*.user
*.suo
*.log
*.vs
*.db
*.sqlite
*.sqlite3
*.pdb
*.cache
*.class
*.dll
*.exe
*.lib
*.so
*.dylib
*.ncb
*.sdf
*.opensdf
*.suo
*.tlb
*.tlib
*.tmp
*.user
*.userosscache
*.userprefs
*.csproj.user
*.pidb
*.svclog
*.pdb
*.mdb
*.opendb
*.VC.db